{{#partial "styles"}}
    <link rel="stylesheet" href="/css/style.css">
{{/partial}}
<h1>SCHOOL-MANAGEMENT-SYSTEM</h1>
{{#if student}}
    {{#each student}}
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">STUDENT {{name}}</h5>